.hintContainer {
  display: grid;
  place-content: start;
  justify-content: center;
  width: 70%;
  margin-bottom: 0;
  text-align: center;
}

.hintBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-size) solid var(--border-color);
  width: min-content;
  margin-inline: auto;
  height: 3rem;
  overflow: hidden;
}

.hintBlock {
  font-size: 1.8rem;
  text-align: center;
  padding: 2em 0.5em;
}

.hintBlock:not(:first-child) {
  border-left: var(--border-size) solid var(--border-color);
}

.description {
  padding: 0;
  margin: 0.3em 0 0;
  font-size: 0.95rem;
}

@media (min-width: 370px) {
  .hintContainer {
    width: 10.55rem;
  }
}

@media (min-width: 400px) {
  .hintContainer {
    width: 11.55rem;
  }
}

@media (min-width: 500px) {
  .hintContainer {
    width: 12.55rem;
  }
  .description {
    font-size: 0.9rem;
  }
}
